.screen  {
    &:not(.show) {
        
        .sidebar {
            transform: translate3d( 0px,0,0);
            .nav-link span {
                visibility: hidden;
                transition-delay: unset;
                // display: none;
                // transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
                @include media-breakpoint-down(md) {
                    visibility: visible;
                }
            }
        }
        


        @include media-breakpoint-up(lg) {
            .sidebar {
                width: 60px;
            }
            main {
                width: calc(100% - 60px);
            }
        }
    }
    .dropdown-toggle::after {
        display: none;
    }
    .nav-link span {
        visibility: visible;
        // transition-delay: .5s;
    }
    // @include media-breakpoint-down(sm) {
    //     background: rgba(0,0,0,.35);
    // }
}