@font-face {
    font-family: Battambang;
    src: url(../fonts/Battambang/Battambang-Regular.ttf);
}
@font-face {
    font-family: Battambang-Bold;
    src: url(../fonts/Battambang/Battambang-Bold.ttf);
    font-weight: 700;
}