// form style


.form-group {
    .custom-file-label {
        font-size: 15px;
        &:after {
            display: inline-block;
            content: "" !important;
            background-image: url("/images/image-light.svg");
            background-repeat: no-repeat;
            background-size: 1rem 1rem;
            background-position: center;
            background-color: #fff;
            border-left: none;
            width: 40px;
        }
    };
    &.icon-file {
        .custom-file-label:after {
            background-image: url("/images/paperclip-light.svg");
        }
    }
}